@media (min-width: 1024px) {

    footer:after{
        background-image: url('img/BlueShape1_GD.svg');
        bottom: 0;
        width: 682px;
        height: 696px;
    }

}

@media (min-width: 1440px) {

    footer:after{
        background-image: url('img/BlueShape1_GD2.svg');
        bottom: 0;
        width: 682px;
        height: 752px;
    }

}

@media (max-width: 1024px) {

    h1{
        font-size: 18px !important;
    }

    h1 span{
        font-size: 25px !important;
    }

    header:after{
        background-image: url('img/BlueShape1_MY.svg');
        top: 0;
        right: 0;
        width: 295px;
        height: 296px;
    }

    .content{
        font-size: 20px;
    }

}