/***** Variables *****/
:root{
	--desert: #f4ebdf;
	--black: #000;
}

/****** Base *****/

:hover{
	transition: all 0.3s ease-in-out 0s;
}

a, a:hover{
	text-decoration: none;
}

body{
	background-color: var(--desert);
	font-family: "Poppins", sans-serif;
	color: var(--black);
}

h1{
	font-family: "Bricolage Grotesque", sans-serif;
	font-size: 27px;
	font-weight: 400;
}

h1 span{
	font-size: 38px;
	font-weight: 600;
}

h1, p, img{
	position: relative;
	z-index: 1;
}

.prestations p span{
	font-weight: 600;
}

footer{
	position: relative;
}

header:after, footer:after{
	content:"";
    position: absolute;
	background-repeat: no-repeat;
}

/* Animation */

.content{
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 200;
    white-space: nowrap;
}

.outer {
	position: relative;
    overflow: hidden !important;
	z-index: 1;
}

.outer div {
    display: inline-block;
}

.loop {
    white-space: nowrap;
    animation: loop-anim 35s linear infinite;
}

@keyframes loop-anim {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -50%;
    }
}