/***** Variables *****/
:root{
	--desert: #f4ebdf;
	--black: #000;
}

/****** Base *****/

:hover{
	transition: all 0.3s ease-in-out 0s;
}

a, a:hover{
	text-decoration: none;
}

body{
	background-color: var(--desert);
	font-family: "Poppins", sans-serif;
	color: var(--black);
}

h1{
	font-family: "Bricolage Grotesque", sans-serif;
	font-size: 27px;
	font-weight: 400;
}

h1 span{
	font-size: 38px;
	font-weight: 600;
}

h1, p, img{
	position: relative;
	z-index: 1;
}

.animation{
	overflow: hidden;
}

.animation p{
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 200;
    white-space: nowrap;
	animation: defilement 15s linear infinite;
}

.prestations p span{
	font-weight: 600;
}

footer{
	position: relative;
}

header:after, footer:after{
	content:"";
    position: absolute;
	background-repeat: no-repeat;
}

@keyframes defilement {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}